<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title layout:fragment="title">커뮤니티 : 게시글 목록</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="mt-4">
			<a class="btn btn-outline-dark mr-2 mb-1"
			   th:each="community : ${cList}"
			   th:text="${community.co_name}"
			   th:href="@{/post/list/{co_num}(co_num=${community.co_num})}"
			   th:classappend="${pm.cri.co_num} == ${community.co_num} ? 'active' : ''"></a>
		</div>
		<div class="mt-4">
			<table class="table table-hover">
				<colgroup>
					<col style="width: 10%;">
					<col style="width: 65%;">
					<col style="width: 15%;">
					<col style="width: 10%;">
                </colgroup>
				<thead class="thead-dark text-center">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>조회수</th>
					</tr>
		    	</thead>
		    	<tbody>
		    		<tr th:each="post : ${pList}">
		    			<td class="text-center" th:text="${post.po_num}"></td>
		    			<td class="text-left">
		    				<a th:text="${post.po_title}"></a>
		    			</td>
		    			<td class="text-center" th:text="${post.po_me_id}"></td>
		    			<td class="text-center" th:text="${post.po_view}"></td>
		    		</tr>
		    		<tr th:if="${pList.size() == 0}">
						<td colspan="4" class="text-center"><b>등록된 게시글이 없습니다.</b></td>
					</tr>
		    	</tbody>
			</table>
			<ul class="pagination justify-content-center" th:object="${pm}" th:if="${pm.endPage != 0}">
	   			<li class="page-item"
	   				th:classappend="*{!prev} ? 'disabled'">
	   				 <button class="page-link"
	   				 		 type="button"
	   				 		 th:onclick="|location.href='@{/post/list/{co_num}(page=*{startPage - 1}, type=*{cri.type}, search=*{cri.search}, co_num=*{cri.co_num})}'|"
	   				 		 th:disabled="*{!prev}">이전</button>
	   			</li>
			    <li class="page-item" 
			    	th:each="i : *{#numbers.sequence(startPage, endPage)}"
			    	th:classappend="*{cri.page} == ${i} ? 'active' : ''">
			   	 	<a class="page-link" 
			   	 	   th:href="@{/post/list/{co_num}(page=${i}, type=*{cri.type}, search=*{cri.search}, co_num=*{cri.co_num})}" 
			   	 	   th:text="${i}">1</a>
			    </li>
			    <li class="page-item"
			    	th:classappend="*{!next} ? 'disabled'">
			    	<button class="page-link"
			    			type="button"
			    			th:onclick="|location.href='@{/post/list/{co_num}(page=*{endPage + 1}, type=*{cri.type}, search=*{cri.search}, co_num=*{cri.co_num})}'|"
			    			th:disabled="*{!next}">다음</button>
			    </li>
	  		</ul>
	  		<form th:object="${cri}" th:action="@{/post/list/{co_num}(co_num=*{co_num})}" method="get">
	  			<div class="input-group mb-3 justify-content-center">
	  				<select class="form-control col-1" th:field="*{type}">
	  					<option th:each="searchType : ${searchTypes}"
	  							th:value="${searchType.type}"
	  							th:text="${searchType.displayName}">전체</option>
	  				</select>
	  				<input class="form-control col-4" type="text" th:field="*{search}" placeholder="검색어를 입력하세요.">
	  				<div class="input-group-append">
	  					<button class="btn btn-outline-dark" type="submit">검색</button>
	  				</div>
	  			</div>
	  		</form>
	  		<div class="d-flex justify-content-end mb-3">
    			<a class="btn btn-outline-dark"
				   th:href="@{/post/add/{co_num}(co_num=${pm.cri.co_num})}">등록</a>
			</div>
		</div>
	</main>
</body>
</html>